<div data-role="header">
<p>
  <%= @list.name %>
  <%= link_to "Add item", { controller: "selections", action: "new", list_id: @list.id}, { data: { ajax: 'false' } } %>
  <%= link_to "Delete checked", { action: "delete_checked" }, { remote: true } %>
</p>
</div >
<div data-role="main" class="ui-content">
<div id="selections">
<%= render Selection.sortera(@list.selections) %>
</div>
</div>

